.event-image-venue {
  width: 100%;
  height: 450px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  border-radius: 5px;
}

.event-image {
  width: 100%;
  height: 450px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
}

.event-show-image-card{
  position: relative;
  margin-bottom: 100px;
}

.event_details_card {
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  width: 70%;
  left: 50%;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
  transform: translate(-50%, -50%);

  hr {
    border-top: 0.5px solid #333;
    width: 95%;
  }
}

.event_bio {
  font-weight: 300;
  font-size: 20px;
  padding-right: 70px;
}

.vl {
  border-left: 0.5px solid #333;
  height: 90%;
  position: absolute;
  left: 50%;
  margin-left: -0.25px;
  top: 5%;
}

.cover {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  margin-left: -15px;
  margin-top: -15px;
}

#microphone_icon {
  height: 16px;
  width: auto;
}

.event_details_card_box {
  padding: 20px;
  width: 50%;
  color: #000;
  align-items: center;
  font-weight: 200;
  font-size: 16px;
  border-radius: 0px 0px 5px 5px;

}

.Booking_slot {
  background-color: #333;
  text-align: center;
  color: white;
  border-radius: 15px;
  padding: 20px 65px;
  font-size: 26px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
  position: sticky;
  top: 50%;

  p {
    font-size: 20px;
  }

  .delete-booking {
    background-color: $negative !important;
  border: $negative;
  color: white;
  }
}


.btn-primary {
  background-color: yellow !important;
  border: yellow;
  color: black;
}

.event_address {
  display: flex;
  background-color: #333;
  color: #333;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
  margin: 50px 0;
  min-height: 400px;

  #map {
    border-radius: 0px 5px 5px 0px;
    height: auto;
  }
}

.event-address-details {
padding: 20px;
display: flex;
flex-direction: column;
justify-content: space-between;
min-width: 400px;

  a {
    color: white;
  }
}

.event-address-icon-text {
  display: flex;
  font-size: 20px;

  i {
    font-size: 40px;
    margin-right: 20px;
  }

  h3 {
    font-size: 32px;
    font-weight: 300;
  }

  p {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px
  }
}


h2 {
  font-size: 48px;
  font-family: $body-font
}

.performer_card {
  background-color: white;
  margin: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
  min-height: 300px;
}

.artist {
  background-color: #FFD639;
  height: 63px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 5px 5px 0px 0px;

}

.performer_photo {
  background-color: grey;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: 13px;
}

.performer_name {
  font-size: 20px;
  font-weight: 400;
  margin-top: 50px;
}

.performer_bio {
  padding: 20px 16px;
  font-size: 16px;
  font-weight: 300;
}

.event-heading {
  margin-top: 50px;
}
