.manage-events-container {
  padding: 16px 16px 16px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.edit-event-container {
  padding: 16px 16px 16px 0px;
}

.create-event-container {
  padding: 16px 16px 16px 0px;
}

.edit-button {
  background-color: $accent;
  border-radius: 4px;
  padding: 4px 8px;
}

.accent_button {
  background-color: $accent;
  border-radius: 4px;
  padding: 4px 8px;
  transition: 0.2s;
  color: black;
  text-align: center;
  &:hover {
    transform: scale(1.04);
  }
  a {
    color: black;
    text-decoration: none;
  }
}

