<div class="container">

  <% if @event.photo.attached? %>
    <div class="event-image"><%= cl_image_tag @event.photo.key, height: 800, width: 1140, crop: :fill %></div>
  <% else %>
    <%# Need to add in a defult image here if there is no event image%>
    <div class="event-image"><%= cl_image_tag @dog.photo.key, height: 800, width: 1140, crop: :fill %></div>
  <% end %>

  <div class="event-info">

    <div id=date-time-share>
      <div><i class="fas fa-calendar-alt"></i> <%= @event.date.strftime("#{mytime.day.ordinalize} %B") %> <i class="far fa-clock"></i> <%= @event.time.strftime("%-l%P") %></div>
      <div><i class="fas fa-share-alt"></i></div>
    </div>

    
  </div>

</div>