<% if @events.blank? %>
  There are no events on this date.
<% else %>
  <ul>
    <% @events.each do |event| %>
      <li>
        <%= event.name %>: <%= event.date %>
      </li>
    <% end %>
  </ul>
<% end %>

