.modal_button {
  background-color: $accent;
  padding: 4px 8px;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    transform: scale(1.04);
  }
}

.event_booking_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.event_booking_modal_content {
  position: relative;
  background-color: $background;
  color: white;
  margin: 10% auto;
  padding: 16px;
  border-radius: 4px;
  width: 500px;
  font-family: Poppins;
  font-weight: 300;
  font-size: 20px;
  h2 {
    font-family: $header-font;
    font-size: 40px;
    font-weight: 400;
    color: $accent;
  }
  table {
    margin: 16px 0px;
  }
  td {
    padding: 4px;
  }
}

#close_event_booking_modal {
  position: absolute;
  top: 16px;
  right: 20px
}

.event_booking_confirm {
  background-color: $accent;
  border-radius: 4px;
  padding: 4px 8px;
  color: black;
  font-family: $body-font;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  margin-top: 24px;
  transition: 0.2s;
  &:hover {
    transform: scale(1.04);
  }
  a {
    text-decoration: none;
    color: black;
  }
}
