.e-card {
  display: table-cell;
  border-radius: 5px;
  background-color: $background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
}

.e-card-image img {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  object-fit: cover;
}

.e-card-info {
  padding: 16px;
  color: #fff;
  min-height: 250px;
}

.e-card-info-address {
  display: flex;
  justify-content: start;
}

.e-card-info-address-marker {
  margin: 0px 8px 0px 0px;
}

.date-time-share {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 200;
}

.event-name {
  font-size: 24px;
  font-weight: 500;
  font
  a {
    color: white;
    text-decoration: none;
  }
}

.venue-name {
  font-size: 18px;
  font-weight: 400;
}

.event-address {
  font-size: 16px;
  margin: 0px 0px 0px 0px;
  font-weight: 200;
}

.e-card-button {
  font-size: 20px;
  border-radius: 0px 0px 5px 5px;
  text-align: center;
  p {
    margin: 8px 0px;
    color: black;
  }
}

.e-card-button-available {
  background-color: $accent;
  img {
    width: 18px;
  }
  &:hover {
    transform: scale(1.02);
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
    padding: 8px 0px;
    p {
      display: none;
    }
    &:before {
      content: "Book now";
      color: black;
    }
  }
}

.e-card-button-unavailable {
  background-color: $negative;
  &:hover {
    transform: scale(1.02);
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
    padding: 8px 0px;
    p {
      display: none;
    }
    &:before {
      content: "Get notified";
      color: white;
    }
  }
}

.e-card-button-edit {
  background-color: $accent;
  transition: 0.2s;
  img {
    width: 18px;
  }
  &:hover {
    transform: scale(1.04);
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
  }
  a {
    color: black;
    text-decoration: none;
  }
}

.e-card-button-cancel {
  background-color: $negative;
  transition: 0.2s;
  img {
    width: 18px;
  }
  &:hover {
    transform: scale(1.04);
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
  }
  a {
    color: white;
    text-decoration: none;
  }
}
