.curtains {
#query {
    color: #000;
    border: none;
    background: transparent;
    padding-right: 20px;
    width: 300px;
  }
.search-bar {
  visibility: visible;
  height: 50px;
  z-index: 99;
  border-radius: 25px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #FFF;
  margin-bottom: 20px;

  label {
    color: #000;
  }
}
.btn-search {
  background-color: $accent;
  border-radius: 50%;

  &:hover {
    transform: scale(1.04);
  }
}
}
