.navbar-findmike {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $background;
  font-family: $body-font;
  font-weight: 500;
  color: white;
  font-size: 18px;
  padding: 16px;
  height: 60px;
  z-index: 100;
  .title {
    font-family: $header-font;
    color: white;
    font-size: 40px;
    margin: 0px;
  }
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: $accent;
    }
  }
  ul {
    margin: 0px;
  }
  li {
    display: inline;
    margin: auto 16px;
  }
}

.drop-down {
  position: relative;
  display: inline-block;
}

.drop-down-content {
  display: none;
  position: absolute;
  background-color: $background;
  width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
}

.drop-down-content-small {
  display: none;
  position: absolute;
  background-color: $background;
  width: 175px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
}

.drop-down-content a {
  color: white;
  margin: 8px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid $accent;
  &:hover {
    color: $accent;
  }
}

#last-link {
  border-bottom: 0px solid $accent;
}

.dropdown-button-container {
  position: relative;
}

#drop-down-arrow {
  position: absolute;
  left: 50px;
  top: 7px;
}

#drop-up-arrow {
  display: none;
  position: absolute;
  left: 50px;
  top: 7px;
  color: $accent;
}

.show {
  display: block;
}

.hide {
  display: none;
}
