.user-area-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 16px;
  min-height: calc(100vh - 360px);
}

.user-dashboard {
  background-color: $background;
  // height: calc(100vh - 360px);
  font-family: $body-font;
  font-size: 20px;
  font-weight: 400;

  .dashboard-link {
    color: white;
    padding: 16px 0px 16px 16px;
  }

  .dashboard-icon {
      height: 30px;
      width: 30px;
      padding: 16px 0px 16px 16px;
      color: white;
    }

  .dashboard-table {
    width: 100%;
    margin-top: 0px;
  }

  a {
    text-decoration: none;
    color: white;
     &:hover {
      color: $accent;
    }
  }

  .dashboard-active {
    background-color: $accent;
    color: black;
    a {
      color: black;
      &:hover {
        color: black;
      }
    }
  }
}

.manage-bookings-container {
  padding: 16px;
  margin-right: 10%;

  h2 {
    margin-top: 16px;
  }

  .heading {
    font-family: $body-font;
    font-size: 40px;
    font-weight: 400;
    border-bottom: 1px solid black;
    margin-bottom: 16px;
  }

  .booking-card-container {
    padding: 16px 16px 16px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }
}

.manage-booking-card {
  // position: relative;
  // width: 300px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 4px;
  padding-bottom: 16px;

  .dark-top-strip{
  background-color: $accent;
  height: 63px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 5px 5px 0px 0px;
  }

  .user-avatar-position {
  border-radius: 50%;
  position: absolute;
  top: 13px;

  }

  .booking-user-info {
    margin-top: 70px;
    padding: 0px 16px;
    font-family: $body-font;
    font-size: 16px;
    font-weight: 300;
  }

  #booking-user-name {
    font-family: $body-font;
    font-size: 20px;
    font-weight: 400;
  }

  .buttons-flex {
    display: flex;
    margin-top: 16px;
  }

  .booking-user-details {
    min-height: 200px;
  }

}

  .approved-tick-position {
    position: absolute;
    top: 20px;
    right: 20px;
    color: limegreen;
    font-size: 20px;
  }

  .approve_button {
    background-color: $accent;
    padding: 8px 16px;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    box-shadow: 01px 1px 10px rgba(0,0,0,0.15);
    width: 100%;
    text-align: center;
    margin-right: 8px;
    transition: 0.2s;
    &:hover {
      transform: scale(1.04);
      text-decoration: none;
      color: black;
    }
  }

  .decline-button {
    background-color: $negative;
    padding: 8px 16px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    box-shadow: 01px 1px 10px rgba(0,0,0,0.15);
    width: 100%;
    text-align: center;
    margin-left: 8px;
    transition: 0.2s;
    &:hover {
      transform: scale(1.04);
      text-decoration: none;
      color: white;
    }
  }

  .buttons-flex {
    display: flex;
    margin-top: 16px;
  }

  .booking-user-details {
    min-height: 200px;
  }

.center-text {
  text-align: center;
}

.approved-bookings {
  display: grid;
  grid-template-columns: auto auto auto;

  .manage-booking-card {
    margin: 10px;
  }
}
