.user-area-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 16px;
  min-height: calc(100vh - 360px);
}

.user-dashboard {
  background-color: $background;
  // height: calc(100vh - 360px);
  font-family: $body-font;
  font-size: 20px;
  font-weight: 400;

  .dashboard-link {
    color: white;
    padding: 16px 0px 16px 16px;
  }

  .dashboard-icon {
      height: 30px;
      width: 30px;
      padding: 16px 0px 16px 16px;
      color: white;
    }

  .dashboard-table {
    width: 100%;
    margin-top: 16px;
  }

  a {
    text-decoration: none;
    color: white;
     &:hover {
      color: $accent;
    }
  }

  .dashboard-active {
    background-color: $accent;
    color: black;
    a {
      color: black;
      &:hover {
        color: black;
      }
    }
  }
}

.manage-bookings-container {
  padding: 16px;

  h2 {
    margin-top: 16px;
  }

  .heading {
    font-family: $body-font;
    font-size: 40px;
    font-weight: 400;
    border-bottom: 1px solid black;
    margin-bottom: 16px;
  }
}

.manage-booking-card-pending {
  position: relative;
  width: 300px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 4px;
  padding-bottom: 16px;

  .dark-top-strip{
    background-color: $background;
    height: 70px;
    border-radius: 4px 4px 0px 0px;
  }

  .user-avatar-position {
    position: absolute;
    right: 90px;
    top: 10px;
  }

  .booking-user-info {
    margin-top: 70px;
    padding: 0px 16px;
    font-family: $body-font;
    font-size: 16px;
    font-weight: 300;
  }

  #booking-user-name {
    font-family: $body-font;
    font-size: 20px;
    font-weight: 400;
  }

  .approve_button {
    background-color: $accent;
    padding: 8px 16px;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    box-shadow: 01px 1px 10px rgba(0,0,0,0.15);
    width: 100%;
    text-align: center;
    margin-right: 8px;
  }

  .decline-button {
    background-color: $negative;
    padding: 8px 16px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    box-shadow: 01px 1px 10px rgba(0,0,0,0.15);
    width: 100%;
    text-align: center;
    margin-left: 8px;
  }

  .buttons-flex {
    display: flex;
    margin-top: 16px;
  }

  .booking-user-details {
    min-height: 200px;
  }

}

.manage-booking-card-approved {
  position: relative;
  width: 300px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 4px;
  padding-bottom: 16px;

  .dark-top-strip{
    background-color: $background;
    height: 70px;
    border-radius: 4px 4px 0px 0px;
  }

  .user-avatar-position {
    position: absolute;
    right: 90px;
    top: 10px;
  }

  .approved-tick-position {
    position: absolute;
    top: 20px;
    right: 20px;
    color: limegreen;
    font-size: 20px;
  }

  .booking-user-info {
    margin-top: 70px;
    padding: 0px 16px;
    font-family: $body-font;
    font-size: 16px;
    font-weight: 300;
  }

  #booking-user-name {
    font-family: $body-font;
    font-size: 20px;
    font-weight: 400;
  }

  .approve_button {
    background-color: $accent;
    padding: 8px 16px;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    box-shadow: 01px 1px 10px rgba(0,0,0,0.15);
    width: 100%;
    text-align: center;
    margin-right: 8px;
  }

  .decline-button {
    background-color: $negative;
    padding: 8px 16px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    box-shadow: 01px 1px 10px rgba(0,0,0,0.15);
    width: 100%;
    text-align: center;
    margin-left: 8px;
  }

  .buttons-flex {
    display: flex;
    margin-top: 16px;
  }

  .booking-user-details {
    min-height: 200px;
  }

}

.center-text {
  text-align: center;
}

